.navbar-brand {
			font-family: 'Just Another Hand', Times;
			font-size: 30px;
		}

		.jumbotron {
			background-color: #737373;
			margin-top: 20px;
			padding-top: 80px;
			font-family: 'Lato', sans-serif;
		}

		.PomodoroClock {
			width: 500px;
			margin: 0 auto;
			padding: 20px 18px;
		}

		.PomodoroClock h1 {
			font-family: 'Pacifico', Times;
			font-size: 30px;
		}

		.PomodoroClock .setting div {
			width: 50%;
			display: inline-block;
		}

		.PomodoroClock .setting #select {
			display: block;
			margin: 0 auto;
		}

		.PomodoroClock .setting h3 {
			text-transform: uppercase;
			font-size: 18px;
		}

		.PomodoroClock .setting button {
			width: 33px;
			padding: 5px 5px;
		}

		.PomodoroClock .setting span {
			font-weight: bold;
			font-size: 20px;
			margin-left: 7px;
    		margin-right: 7px;
		}

		.PomodoroClock #display {
			display: block;
			border: 3px solid #CCCC00;
			width: 300px;
			height: 300px;
			margin: 0 auto;
			margin-top: 80px;
			border-radius: 50%;
			background-color: #666666;
		}

		.PomodoroClock #display h3 {
			padding-top: 60px;
			text-transform: uppercase;
			font-size: 35px;
			color: white;
		}

		.PomodoroClock #display h5 {
			padding-top: 25px;
			font-size: 25px;
			font-weight: bold;
			font-size: 'Just Another Hand', sans-serif;
		}

		.PomodoroClock #display h6 {
			font-size: 50px;
		}

		footer h3 {
			font-weight: bold;
			font-size: 25px;
			font-family: 'Lato', sans-serif;
		}

		footer div#contact {
			margin: 0 auto;
			text-align: center;
		}